#intro{
	margin-top:100px;
	text-align:center;				/*formatting*/
}
/*-------------------------------------------------------*/
h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
/*-------------------------------------------------------*/
hr {
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}
/*-------------------------------------------------------*/
#sidebar{							/*css for wifu.html*/
	width:250px; 
	position:fixed; 
	right:0px; 
	top:50px; 
	z-index:1;						/*^^layout for sidebar^^*/ 
	background-color:rgba(255,255,255,0.7);			/*setting bd*/
}
/*-------------------------------------------------------*/
ol li a{
	text-decoration:none;					/*take off underline*/
}
/*-------------------------------------------------------*/
ol li{
	list-style-type:none;					/*take off prefix numbers*/
	text-align:center;
	height:35px;						
	text-indent:-40px;					/*^^layout settings^^*/
}
/*-------------------------------------------------------*/
ol li:hover{
	background-color:rgba(255,255,155,1);
}
/*-------------------------------------------------------*/
ol a:hover{
	text-decoration:none;
}
/*-------------------------------------------------------*/
#janshi{
	width:940px;
	height:300px;						/*^^layout settings^^*/
	background-color:rgba(255,255,255,0.5);			/*setting bg*/
}
/*-------------------------------------------------------*/
#janshi h2{
	color:#984B4B;						/*text color*/
}
/*-------------------------------------------------------*/
#janshi q{
	padding-left:50px;		
	text-align:left;
	color:#5151A2;						/*text color*/
}
/*-------------------------------------------------------*/
.first{
	margin-top:50px;					/*latout setting*/
}
/*-------------------------------------------------------*/
#pic{
	object-fit:none;
	object-position:0 0px;					/* ^^ use to fit div ^^ */
	width:130px;
	height:300px;						/*^^layout settings^^*/
	object-fit:cover;
}
/*-------------------------------------------------------*/
#pic:hover{
	object-fit:cover;
	object-position:-130px 0;				/* ^^ use to fit div ^^ */
}
/*-------------------------------------------------------*/
.info{
	padding-top:10px;
	padding-left:150px;					/*^^layout settings^^*/

}