#form_block{
	background-color:rgba(255,255,255,0.5);		/*setting background color*/
}
/*-------------------------------------------*/
#_form{
	margin-bottom:50px;				/*formatting*/
}
/*-------------------------------------------*/	
.title{
	margin-top:100px;
	text-align:center;				/*formatting*/
}
/*-------------------------------------------*/		
#doc_1{
	color:#B87070;
}
/*-------------------------------------------*/	
#doc_2{
	color:#996633;
}
/*-------------------------------------------*/	
#doc_3{
	color:#663300;
}